@page "/chatrooms"
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <h1>Chat Rooms</h1>

        <div class="card-deck">
            @for (int i = 0; i < 3; i++)
            {
                <div class="card-body">
                    <h5 class="card-title">Chat @i</h5>
                    <p class="card-text">This is a description of chat @i.</p>
                    <a href="@($"/room/{i}")" class="btn btn-primary">Go to chat @i</a>
                </div>
            }
        </div>
    </Authorized>
</AuthorizeView>