@page "/room/{roomName}"
@using Chat.Application.Interfaces;
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IPostService _postService

<AuthorizeView>
    <Authorized>
        <h1>@roomName Chat Room</h1>
        <input type="text" @bind-value="message" />
        <button @onclick="SendMessage">Send</button>
        <div style="height: 300px; overflow-y: scroll;">
            <ul id="messages" style="width: 100%;">
                @foreach (var message in messages)
                {
                    <li>@message</li>
                }
            </ul>
        </div>
    </Authorized>
</AuthorizeView>
@code {
    [Parameter]
    public string? roomName { get; set; }
    public string? userName { get; set; }
    private string message;
    private List<string> messages = new List<string>();
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name;
        }

        messages = await _postService.GetPostLogs(roomName);

        hubConnection = new HubConnectionBuilder()
          .WithUrl($"{Environment.GetEnvironmentVariable("HTTPLOCALHOST")}/chathub")
          .Build();

        hubConnection.On<string, string>("ReceiveMessage", async (r, m) =>
        {
            await InvokeAsync(() =>
            {
                messages.Add($"{r}: {m}");
                StateHasChanged();
            });
        });

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("JoinRoom", roomName);

    }
    private async Task SendMessage()
    {
        await hubConnection.SendAsync("SendMessage", userName, message, roomName);
        message = "";
    }
}